:root {
--main: #202023;
--cyan: #52a6eb;
--mainov: #111111;
--pink:#ff94d6;
--salmon:#fbd38d; 
}
.nav-link{text-decoration: none;
    color:rgb(212, 212, 212);
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    padding: 10px;
}
.nav-link:hover{
    background-color: var(--mainov);
    border-style: false;
    color: var(--cyan);   
}
#nav-item{
list-style-type: none;

  position: relative ;
}
body{
background-color: var(--main);
padding: 20px;
}
#nome{
    margin-top: 5px;
    font-size: 36px;
    color: white;
    font-family: 'Ubuntu', sans-serif;

}
header{
text-align: center;
}
.Hello{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
text-align: left;
    padding-left: 30px;
}
#intro{
color: white;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-size: 16px;
line-height: 24px;
text-align: left;
margin-left: 30px;
text-align: left;
}
.Ev{
    color: var(--cyan);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 24px;

}
#Donate_btn
{
color: black;
font-weight: bold;
background-color: var(--mainov);
    border-style: false;
    color: var(--cyan); 
}
.sezione{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}
#donate_btn{
color: #0091ff;
}










    



