:root {
--main: #202023;
--cyan: #0ccdb3;
--mainov: #111111;
--pink:#ff63c3;
--salmon:#fbd38d;

}
a{text-decoration: none;
    color:rgb(194, 194, 194);
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    padding: 10px;


}
a:hover{
    background-color: var(--mainov);
    border-style: false;
    color: var(--cyan); 
    
    
}
#nav-item{
list-style-type: none;

  position: relative ;

}

body{
background-color: var(--main);
padding: 20px;
}
#nome{
    margin-top: 5px;
    font-size: 36px;
    color: var(--cyan);
    font-family:  'Titillium Web', sans-serif;

}
header{
text-align: center;
}

.Hello{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
text-align: left;
    padding-left: 30px;



}
#intro{
color: white;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-size: 16px;
line-height: 24px;
text-align: left;
margin-left: 30px;
text-align: left;


}
.Ev{
    color: var(--cyan);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 24px;

}
#Donate_btn
{
color: black;
font-weight: bold;
background-color: var(--mainov);
    border-style: false;
    color: var(--cyan); 
    


}
.sezione{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;

}










    



